div#wrapper{
    margin: 0 auto;
    width: 700px;
}

body {
    font-family: Arial;
    color: #555;
    background-color: #ddd;
}

section, header {
    padding: 12px;
    margin: 12px;
    clear: both;
    background-color: #fff;
    border-bottom: 2px solid #3667B5;
}

header{
    background-color: #243757;
    background: url('images/pattern.jpg');
    text-align: center;
    color: white;
}

header:hover{
    background-color: #121F33;
}

a{
    color: #3667B5;
}

img#profile_pic {
    width: 160px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}


table{
    width: 100%;
    padding: 12px;
    border-collapse: collapse;
}

table, td, th, tr{
    border: 1px solid #ccc;
}

td{
    padding: 12px;
}

#map-canvas {
    height: 300px
}